body {
  --todo-item-color: #d4b853;
  --todo-item-border-color: #409dad;
  --body-color: #8aad40;
  background-color: var(--body-color);
}

.main {
  text-align: center;
}

.todo-item {
  color: blue;
  display: flex;
  margin: 2em;
  background-color: var(--todo-item-color);
  border: 5px solid var(--todo-item-border-color);
  border-radius: 10em;
  padding: 0.5em;
}

.todo-item input[type="checkbox"] {
  margin: 1.9em 1em;
}

.completed {
  opacity: 0.7;
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}

.todo-item p {
  font-weight: bold;
  margin: auto 0.5em;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

